.App {
  text-align: center;
  background-color: #f9f9f9;
}
.project-container {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #f0f0f0, #dcdcdc);
  animation: waveAnimation 5s infinite linear alternate;
}


@keyframes pulseGradient {
  0% {
    background-position: 0% 50%;
    background-size: 100% 100%;
    filter: brightness(100%) contrast(100%);
  }
  25% {
    background-position: 100% 50%;
    background-size: 200% 100%;
    filter: brightness(120%) contrast(120%);
  }
  50% {
    background-position: 0% 50%;
    background-size: 100% 100%;
    filter: brightness(100%) contrast(100%);
  }
  75% {
    background-position: 100% 50%;
    background-size: 200% 100%;
    filter: brightness(120%) contrast(120%);
  }
  100% {
    background-position: 0% 50%;
    background-size: 100% 100%;
    filter: brightness(100%) contrast(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes moveAround {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -50%) translate(20vw, 20vh);
  }
  50% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  75% {
    transform: translate(-50%, -50%) translate(-20vw, -20vh);
  }
}

.animate-background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #3498db, #2ecc71); /* Change the gradient colors */
  background-size: 200% 100%;
  animation: pulseGradient 10s ease-in-out infinite;
}

.animate-background .bg-black {
  animation: fadeIn 5s ease-in-out infinite, moveAround 10s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: black; /* Initial color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 5s ease-in-out infinite, moveAround 10s linear infinite, changeColor 10s linear infinite;
}

@keyframes changeColor {
  0%, 100% {
    background-color: black;
  }
  50% {
    background-color: white;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* output.css */

@keyframes scroll {
  0% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(75%);
  }
}

.scrollImagesContainer {
  width: 100%;
  overflow: hidden;
}

.scrollImages {
  display: flex;
  animation: scroll 10s linear infinite;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.test{
  height:fit-content;
  display:grid;
  grid-template-rows:auto auto;
}